/* 正文底页毛玻璃效果 */
#board {
  background-color: rgba(0, 0, 0, 0.1);
  
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}
/* 侧边目录毛玻璃效果 */
#toc {
  padding: 10px;
  top: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}
